doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation

    section.form-container
      form(action=(path === "/signup") ? "/auth/signup" : "/auth/login", enctype="multipart/form-data", method="POST")
        h3 #{pageTitle}
        if path === "/signup"
          input.box(type="name", name="name", placeholder="Ваше имя", required)
        input.box(type="email", name="email", placeholder="E-Mail", required)
        input.box(type="password", name="password", placeholder="Пароль", required)
        if path === "/signup"
          input.box(type="password", name="confirmPassword", placeholder="Подтвердите пароль", required)
          input.box(type="file", name="image", required)
        input(type="hidden", name="_csrf", value=csrfToken)
        input.btn(type="submit", name="submit", value="Отправить")

        p #{message} Тогда 
          a(href="/auth/login") #{buttonName}