doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation

    section.form-container
      form(action="/auth/new-password", method="POST")
        h3 Смена пароля
        input.box(type="password", name="newPassword", placeholder="Введите новый пароль", required)
        input.box(type="password", name="confirmPassword", placeholder="Подтвердите новый пароль", required)
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="userId", value=userId)
        input(type="hidden", name="resetToken", value=resetToken)
        input.btn(type="submit", value="Отправить")

    include ../includes/footer.pug
    script(src="/js/script.js") 