doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation

    section.form-container
      form(action="/auth/reset", method="POST")
        h3 Введите E-Mail, на который зарегистрирован ваш аккаунт

        input(class=(errors.email ? "invalid" : "box"), type="email", name="email", placeholder="Введите ваш E-Mail", value=(errors.email ? providedEmail : null), required)
        if (errors.email)
          span.error-message #{errors.email.msg}

        input(type="hidden", name="_csrf", value=csrfToken)
        input.btn(type="submit", name="submit", value="Отправить")

    include ../includes/footer.pug
    script(src="/js/script.js") 