doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation
    
    section.update-product
      
      h1.title update product   

      form(action="", method="post", enctype="multipart/form-data")
        input(type="hidden", name="old_image", value="<?= $fetch_products['image']; ?>")
        input(type="hidden", name="pid", value="<?= $fetch_products['id']; ?>")
        img(src="uploaded_img/<?= $fetch_products['image']; ?>", alt="")
        input.box(type="text", name="name", placeholder="enter product name", required, value="<?= $fetch_products['name']; ?>")
        input.box(type="number", name="price", min="0", placeholder="enter product price", required, value="<?= $fetch_products['price']; ?>")
        select.box(name="category", required)
          option(selected) Category
          option(value="vegitables") vegitables
          option(value="fruits") fruits
          option(value="meat") meat
          option(value="fish") fish
        textarea.box(name="details", required, placeholder="enter product details", cols="30", rows="10") Details
        input.box(type="file", name="image", accept="image/jpg, image/jpeg, image/png")
        .flex-btn
          input(type="hidden", name="_csrf", value=csrfToken)
          input.btn(type="submit", value="update product", name="update_product")
          a.option-btn(href="admin_products.php") go back

    script(src="/js/script.js")