doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.messages
      h1.title messages
      div.box-container
        div.box
          p 
            | user id : 
            span user.id
          p 
            | name : 
            span Name
          p 
            | number : 
            span Number
          p 
            | email : 
            span Email
          p 
            | message : 
            span Message
          a.delete-btn(href="admin_contacts.php?delete=<?= $fetch_message['id']; ?>", onclick="return confirm('delete this message?');") delete

    script(src="js/script.js")