doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.placed-orders
  
      h1.title placed orders
      .box-container"
        .box
          p 
            | user id : 
            span user.id
          p 
            | placed on : 
            span placed on
          p 
            | name : 
            span Name
          p 
            | email : 
            span Email
          p 
            | number : 
            span Number
          p 
            | address : 
            span Address
          p 
            | total products : 
            span Total products
          p 
            | total price : 
            span $100
          p 
            | payment method : 
            span Method
          form(action="", method="POST")
            input(type="hidden", name="order_id", value="<?= $fetch_orders['id']; ?>")
            select.drop-down(name="update_payment")
              option(value="", selected, disabled) Payment status
              option(value="pending") pending
              option(value="completed") completed
            .flex-btn
              input.option-btn(type="submit", name="update_order", value="udate")
              a.delete-btn(href="admin_orders.php?delete=<?= $fetch_orders['id']; ?>", onclick="return confirm('delete this order?');") delete

    script(src="js/script.js")