doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.add-products
      h1.title Добавьте новую категорию
      form(action="/admin/create-category", method="POST", enctype="multipart/form-data")
        div.flex
          div.inputBox
            input.box(type="text", name="title", required, placeholder="Название категории")
          div.inputBox
            input.box(type="file", name="image", required)
        textarea.box(name="description", required, placeholder="Краткое описание категории", cols="30", rows="10")
        input(type="hidden", name="_csrf", value=csrfToken)
        input.btn(type="submit", value="Создать")

    //- section.show-products

    //-   h1.title products added

    //-   .box-container
    //-     .box
    //-       .price $100/-
    //-       img(src="uploaded_img/<?= $fetch_products['image']; ?>", alt="")
    //-       .name Name
    //-       .cat Category
    //-       .details Details
    //-       .flex-btn
    //-         a.option-btn(href="admin_update_product.php?update=<?= $fetch_products['id']; ?>") update
    //-         a.delete-btn(href="admin_products.php?delete=<?= $fetch_products['id']; ?>", onclick="return confirm('delete this product?');") delete

    script(src="/js/script.js")