doctype html 
html(lang="ru")
  head 
    include ../includes/admin-head
  body 
    include ../includes/admin-navigation

    section.add-products
      h1.title Добавьте новый товар
      form(action="/admin/create-product", method="POST", enctype="multipart/form-data")
        div.flex
          div.inputBox
            input.box(type="text", name="title", required, placeholder="Наименование товара")
            select.box(name="category", required)
              option(value="", selected, disabled) Выберите категорию
              option(value="vegitables") Овощи
              option(value="fruits") Фрукты
              option(value="meat") Мясо
              option(value="fish") Рыба
          div.inputBox
            input.box(type="number", min="0", name="price", required, placeholder="Стоимость товара")
            input.box(type="file", name="image", required)
        textarea.box(name="description", required, placeholder="Краткое описание товара", cols="30", rows="10")
        input.btn(type="submit", value="Создать")

    //- section.show-products

    //-   h1.title products added

    //-   .box-container
    //-     .box
    //-       .price $100/-
    //-       img(src="uploaded_img/<?= $fetch_products['image']; ?>", alt="")
    //-       .name Name
    //-       .cat Category
    //-       .details Details
    //-       .flex-btn
    //-         a.option-btn(href="admin_update_product.php?update=<?= $fetch_products['id']; ?>") update
    //-         a.delete-btn(href="admin_products.php?delete=<?= $fetch_products['id']; ?>", onclick="return confirm('delete this product?');") delete

    script(src="js/script.js")