header.header
  div.flex
    a.logo(href="/admin") 
      | Admin
      span 
        | Panel
    nav.navbar
      a(href="/admin") Панель
      a(href="/admin/products") Товары
      a(href="/admin/categories") Категории
      a(href="/admin/orders") Заказы
      a(href="/admin/users") Пользователи
      a(href="/") В магазин
    div.icons
      div.fa-solid.fa-bars#menu-btn
      div.fa-solid.fa-user#user-btn    
    div.profile
      img(src="/" + user.imageUrl, alt=user.name)
      p #{user.name}
      if isAdmin
        span Админ
      a.btn(href="/user/edit-profile/" + user.id) Редактировать
      form(action="/auth/logout", method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)
        button.delete-btn(type="submit") Выйти из профиля