footer.footer 
  section.box-container 
    div.box 
      h3 Quick Links 
      a(href="/")
        i.fa-solid.fa-angle-right Home
      a(href="/shop")
        i.fa-solid.fa-angle-right Shop
      a(href="/about")
        i.fa-solid.fa-angle-right About
      a(href="/contact")
        i.fa-solid.fa-angle-right Contact
    div.box 
      h3 Extra Links 
      a(href="/cart")
        i.fa-solid.fa-angle-right Cart
      a(href="/wishlist")
        i.fa-solid.fa-angle-right Wishlist
      a(href="/login")
        i.fa-solid.fa-angle-right Login
      a(href="/register")
        i.fa-solid.fa-angle-right Register
    div.box 
      h3 Contact Info 
      p
        i.fa-solid.fa-phone +123-456-7890
      p
        i.fa-solid.fa-phone +111-222-3333
      p
        i.fa-solid.fa-envelope shaikhanas@gmail.com
      p
        i.fa-solid.fa-map-marker-alt mumbai, india - 400104
    div.box 
      h3 Follow Us 
      a(href="#")
        i.fa-solid.fa-file hh.ru
      a(href="#")
        i.fa-brands.fa-github GitHub
      a(href="#")
        i.fa-brands.fa-linkedin LinkedIn
      a(href="#")
        i.fa-brands.fa-vk VK
  p.credit 
    | &copy; copyright @ DATE HERE by 
    span 
      | Mr. Web Designer
    | all rights reserved!
    