footer.footer 
  
  section.container 

    div.row

      div.footer-col
        h4 Навигация
        ul
          li
            a(href="/") Главная
          li
            a(href="/catalog") Каталог
          li
            a(href="/orders") Ваши заказы
          li
            a(href="/contacts") Связаться

      div.footer-col
        h4 Заимствованы
        ul
          li
            a(href="https://www.youtube.com/watch?v=F8OpKveD5pk&ab_channel=Mr.WebDesigner", target="_blank", rel="noopener noreferrer") Макет от 
              span|Mr. Web Designer
          li
            a(href="https://www.youtube.com/watch?v=YOb67OKw62s&ab_channel=TheWebShala", target="_blank", rel="noopener noreferrer") Футер от 
              span|TheWebShala
          li
            a(href="https://ru.freepik.com/author/stories", target="_blank", rel="noopener noreferrer") Изображения от 
              span|storyset
          li
            a(href="/contacts") Бэкенд полностью мой

      div.footer-col
        h4 Контакты
        div.social-links
          a(href="#", target="_blank", rel="noopener noreferrer")
            i.fa-solid.fa-file
          a(href="#", target="_blank", rel="noopener noreferrer")
            i.fa-brands.fa-github       
          a(href="#", target="_blank", rel="noopener noreferrer")
            i.fa-brands.fa-linkedin    
          a(href="#", target="_blank", rel="noopener noreferrer")
            i.fa-brands.fa-vk
    