doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
  
    section.about
      div.row
        div.box
          img(src="images/service/about-img-1.png", alt="")
          h3 Почему именно мы?
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, a quod, quis alias eius dignissimos pariatur laborum dolorem ad ullam iure, consequatur autem animi illo odit! Atque quia minima voluptatibus.
          a.btn(href="/contact") Свяжитесь с нами

        div.box
          img(src="images/service/about-img-2.png", alt="")
          h3 Что мы предлагаем?
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, a quod, quis alias eius dignissimos pariatur laborum dolorem ad ullam iure, consequatur autem animi illo odit! Atque quia minima voluptatibus.
          a.btn(href="/catalog") Каталог
    
    section.reviews
      h1.title Отзывы клиентов
      div.box-container
        div.box
          img(src="images/service/pic-1.png", alt="")
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et voluptates sit earum, neque non cupiditate amet deserunt aperiam quas ex.
          div.stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star-half-alt
          h3 Иван Иванов
        div.box
          img(src="images/service/pic-2.png", alt="")
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et voluptates sit earum, neque non cupiditate amet deserunt aperiam quas ex.
          div.stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star-half-alt
          h3 Анна Аннова
        div.box
          img(src="images/service/pic-3.png", alt="")
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et voluptates sit earum, neque non cupiditate amet deserunt aperiam quas ex.
          div.stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star-half-alt
          h3 Макар Макаров
        div.box
          img(src="images/service/pic-4.png", alt="")
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et voluptates sit earum, neque non cupiditate amet deserunt aperiam quas ex.
          div.stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star-half-alt
          h3 Евгения Евгеньева
        div.box
          img(src="images/service/pic-5.png", alt="")
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et voluptates sit earum, neque non cupiditate amet deserunt aperiam quas ex.
          div.stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star-half-alt
          h3 Дмитрий Дмитриев
        div.box
          img(src="images/service/pic-6.png", alt="")
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et voluptates sit earum, neque non cupiditate amet deserunt aperiam quas ex.
          div.stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star-half-alt
          h3 Ольга Ольговна
    
    include ../includes/footer.pug
    script(src="/js/script.js")


      

      









<?php include 'footer.php'; ?>

<script src="/js/script.js"></script>

</body>
</html>