doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
    
    section.contact

      h1.title get in touch
      
      form(action="", method="POST")
        input.box(type="text", name="name" required, placeholder="enter your name")
        input.box(type="email", name="email", required, placeholder="enter your email")
        input.box(type="number", name="number", min="0", required, placeholder="enter your number")
        textarea.box(name="msg", required, placeholder="enter your message", cols="30", rows="10")
        input.btn(type="submit", value="send message", name="send")

    include ../includes/footer.pug
    script(src="/js/script.js")