doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
    
    section.contacts

      h3.title Связаться со мной (Contact Me)

      img(src="/images/service/my-photo.jpg", alt="My photo")

      div.container

        div.box
          p Привет! Меня зовут Арсений Цой. Я начинающий бэкенд программист для Node.js из города Тюмень (Россия).
          p Данный сайт является учебным проектом, созданным в демонстрационных целях. Бэкенд был написан с нуля лично мной с использованием Node.js, ExpressJS, MySQL и Pug. Дизайн и верстка были позаимствованы с YouTube-канала 
            a.cite(href="https://www.youtube.com/watch?v=F8OpKveD5pk&ab_channel=Mr.WebDesigner", target="_blank", rel="noopener noreferrer") Mr. Web Designer.
          p Напишите мне на почту, если Вам нужны права администратора.

          ul
            li Мой E-Mail: 
              span.link kennethgrahame11@gmail.com
            li Репозиторий на GitHub с кодом сайта: 
              a.link(href="https://github.com/ArseniyTsoy/store_project") https://github.com/ArseniyTsoy/store_project
            li Мое резюме на hh.ru: 
              a.link(href="https://hh.ru/applicant/resumes/view?resume=a8b73e59ff0b7ab5fa0039ed1f635338533572") https://hh.ru/applicant/resumes/view?resume=a8b73e59ff0b7ab5fa0039ed1f635338533572
          
        div.box
          p Hello! My name is Arseniy Tsoy. I'm an aspiring backend programmer for Node.js from Tyumen, Russian Federation.
          p This website is a pet project, created for demonstrational purposes. The backend part has been written from scratch by myself using Node.js, ExpressJS, MySQL and Pug. Design and layouts have been taken from YouTube-channel 
            a.cite(href="https://www.youtube.com/watch?v=F8OpKveD5pk&ab_channel=Mr.WebDesigner", target="_blank", rel="noopener noreferrer") Mr. Web Designer.
          p Please, write on my E-Mail to get an access to the admin part of the website.

          ul
            li My E-Mail: 
              span.link kennethgrahame11@gmail.com
            li The GitHub repository with the source code: 
              a.link(href="https://github.com/ArseniyTsoy/store_project") https://github.com/ArseniyTsoy/store_project
            li My resume on hh.ru: 
              a.link(href="https://hh.ru/applicant/resumes/view?resume=a8b73e59ff0b7ab5fa0039ed1f635338533572") https://hh.ru/applicant/resumes/view?resume=a8b73e59ff0b7ab5fa0039ed1f635338533572 

    include ../includes/footer.pug
    script(src="/js/script.js")