doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation

    p.empty Страница потерялась:(

    include ../includes/footer.pug
    script(src="/js/script.js") 