doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
    
    section.show-message

      div.box
        a(href=outerLink)
          img(src=innerLink, alt=pageTitle) 
        p.msg #{message}

    include ../includes/footer.pug
    script(src="/js/script.js") 