doctype html 
html(lang="ru")
  head 
    include ../includes/head
  body 
    include ../includes/navigation
    
    section.show-message

      if (statusCode === 404)

        div.box
          a(href="https://www.freepik.com/free-vector/404-error-with-landscape-concept-illustration_20602785.htm#query=404&position=2&from_view=keyword")
            img(src="/images/service/404.jpg", alt="404") 
          p.msg Страница потерялась:(

      else if (statusCode === 403)

        div.box
          a(href="https://ru.freepik.com/free-vector/403-error-forbidden-with-police-concept-illustration_7967796.htm#query=forbidden&position=1&from_view=search&track=sph")
            img(src="/images/service/403.jpg", alt="403") 
          p.msg У вас нет прав администратора

      else

        div.box
          a(href="https://www.freepik.com/free-vector/500-internal-server-error-concept-illustration_7906229.htm#query=internal%20server%20error&position=2&from_view=keyword")
            img(src="/images/service/500.jpg", alt="500") 
          div.msg
            p Что-то пошло не так! 
            p Приносим свои извинения!

    include ../includes/footer.pug
    script(src="/js/script.js") 